@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 75px 100px 1fr / 1fr 4fr;
}

.sidebar {
  background-color: #5eaaa8;
  grid-area: 1 / 1 / 4 / 2;
  padding: 15px;
  display: grid;
  grid-template: 100px repeat(10, 50px) / 50px 1fr;
  align-items: center;
  color: #2c3333;
}

.header {
  background-color: #fffffa;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav {
  background-color: #fffffa;
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  background-color: #e2e8f0;
  grid-column: 1 / 2;
  color: #2c3333;
}

.sidebar-right {
  background-color: #056676;
  color: #eae7e4fb;
  grid-column: 2 / 3;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 15px;
}

.card-layout div {
  height: 200px;
  background-color: white;
  border: 3px black solid;
  border-radius: 8px;
  padding: 3px;
  color: black;
}

.card-layout div p {
  font-size: 0.75rem;
  color: #2c3333;
}

.announcements {
  display: grid;
  gap: 15px;
  padding: 15px;
}

.announcements div {
  height: 50px;
  border: 3px black solid;
  overflow: auto;
  border-radius: 8px;
  background-color: rgb(231, 225, 225);
  color: #2c3333;
  font-size: 0.75rem;
}

.label-announcements,
.label-trending,
.label-projects {
  padding-left: 15px;
  font-size: 1rem;
}

.trending {
  display: grid;
  gap: 15px;
  padding: 15px;
}

.trending div {
  height: 50px;
  background-color: rgb(231, 225, 225);
  border: 3px black solid;
  overflow: auto;
  border-radius: 8px;
  color: #2c3333;
  font-size: 0.75rem;
}

img.sidebar-heading {
  height: 3rem;
  grid-area: 1 / 1 / 2 / 2;
}

p.sidebar-heading {
  font-size: 1.4rem;
  grid-area: 1 / 2 / 2 / 3;
}

img.sidebar-item {
  height: 1.7rem;
  grid-column: 1 / span 1;
  justify-self: center;
}

p.sidebar-item {
  font-size: 0.9rem;
  grid-column: 2 / span 1;
}

.trending div h4 {
  padding: 3px;
  margin: auto;
}

.trending div p {
  padding: 3px;
  margin: auto;
}

.announcements div {
  padding: 3px;
  margin: auto;
}

.header-icon {
  height: 1.5rem;
  color: black;
  padding: 10px; 
}

.nav-icon {
  height: 3rem;
}

.nav-button {
  height: 30px;
  width: 75px;
  background-color: #5eaaa8;
  border-radius: 6px;
  margin: 5px; 
}

.nav-left {
  padding: 10px; 
  display: flex;
  /* justify-content: start; */
}

.nav-right {
  padding: 10px;
  display: flex;
  /* justify-content: end;  */
}
